* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #b6eedd;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  display: grid;
  grid-column: span 4;
  width: 260px;
  height: 100px;
  border: none;
  border-radius: 15px;
  background: black;
  color: aliceblue;
  text-align: right;
  font-size: 30px;
  font-weight: 700;
  pointer-events: none;
}
.calculator {
  display: grid;
  border: 1px solid #565151;
  border-radius: 20px;
  padding: 12px;
  min-height: 450px;
  background-color: rgb(7, 10, 11);
  box-shadow: 0px -2px 5px 0px #5a5a5a;
}
button {
  border-radius: 25px;
  font-size: x-large;
  font-weight: 700;
  cursor: pointer;
}
.first {
  background: tomato;
}
.equal {
  background: #5adbb5;
}
button:active {
  background: #4e5453;
}
